.bg-violet {
  background-color: rgb(121, 26, 121);
}

.bg-grey {
  background-color: #e6e6e6;
}

.text-violet {
  color: rgb(121, 26, 121);
}

.text-white {
  color: #ffffff;
}

.bg-img {
  background-image: url(../img/fondo.jpg);
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
}

img,
svg {
  width: 10px;
}

.link,
.no-style {
  text-decoration: none;
  list-style-type: none;
  color: #000000;
}

.nav-pc {
  visibility: hidden;
  height: 0;
  width: 0;
}

.nav-mobile {
  visibility: visible;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .nav-mobile {
    visibility: hidden;
    height: 0;
  }
  .nav-pc {
    visibility: visible;
    width: auto;
    height: auto;
    height: 45px;
  }
  .nav-logo {
    width: 28px;
  }
  .li-item:hover {
    background-color: rgb(235, 227, 227);
    border-bottom: 2px solid rgb(121, 26, 121);
  }
  .modal {
    height: 500px;
  }
}
nav {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}
nav .logo__nav-mobile {
  width: 25px;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
header #logo_mascotalandia {
  width: 35px;
}
header .logo_header {
  width: 20px;
  height: 20px;
  color: #ffffff;
}
header .cantidad_carrito {
  color: #ffffff;
}
header .boton_header:hover {
  background-color: #ffffff;
}
header .boton_header:hover .logo_header {
  color: #000000;
}
header .boton_header:hover .cantidad_carrito {
  color: #000000;
}
header .group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}
header .input {
  width: 90%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}
header .input:focus, header .input:hover {
  outline: none;
  border-color: #ffffff;
  background-color: #ffffff;
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}
header .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.servicio__img {
  width: 2.8rem;
}

.entrega__img {
  width: 4.2rem;
}

#logo_gato {
  width: 2.5rem;
}

#logo_perro {
  width: 2.5rem;
}

.card-size {
  width: 290px;
}

.producto-size {
  width: 250px;
  height: auto;
}

.producto-size:hover {
  border: 1px solid #c5bfbf;
}

.producto-cantidad {
  width: 2.5rem;
}

.img-producto {
  width: 12rem;
}

.btn-carrito:focus {
  color: rgb(121, 26, 121);
  border: 1px solid rgb(121, 26, 121);
}

.btn-carrito:hover {
  color: rgb(121, 26, 121);
  border: 1px solid rgb(121, 26, 121);
}

.btn-trash:hover {
  border: 1px solid #ffffff;
}

.btn-trash:focus {
  border: 1px solid #ffffff;
}

.modal-body {
  overflow: hidden;
  max-height: 600px;
  height: auto;
}

.modal-body:hover {
  overflow-y: auto;
}

.fade {
  opacity: 1;
  -webkit-transaction: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.btn-violet:hover {
  background-color: rgb(95, 9, 95);
}

.btn-violet {
  background-color: rgb(121, 26, 121);
  color: #ffffff;
}/*# sourceMappingURL=styles.css.map */