.bg-violet {
    background-color: $primary-color;
}

.bg-grey {
    background-color: $grey-color;
}

.text-violet {
    color: $primary-color;
}

.text-white {
    color: $secondary-color;
}

.bg-img {
    background-image: $bg-img;
}