.nav-pc {
    visibility: hidden;
    height: 0;
    width: 0;
}

.nav-mobile {
    visibility: visible;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 992px) {
    .nav-mobile {
        visibility: hidden;
        height: 0;
    }
    .nav-pc {
        visibility: visible;
        width: auto;
        height: auto;
        height: 45px;
    }
    .nav-logo {
        width: 28px;
    }
    .li-item:hover {
        background-color: rgb(235, 227, 227);
        border-bottom: 2px solid $primary-color;
    }
    .modal {
        height: 500px;
    }
}